<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Vehicle</li>
  </ol>
</nav>
<h2>Vehicle Detail</h2>
<div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<form *ngIf="vehicle" #editForm="ngForm">

  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="vehicle.id" id="id" name="id" readonly>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="vehicle.lastPing" id="date" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="button-row" role="group">
    <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Save</button>
    <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
  </div>
</form>
